{% extends 'Base/base.html' %}
{% block content %}
<article class="content-section">
    <h1 class="mb-3">{{ post.title }}</h1>
    <div class="article-metadata">
        By <strong>{{ post.author.username }}</strong> on {{ post.time }}
    </div>
    {% if post.image %}
        <img src="{{ post.image.url }}" class="article-img">
    {% endif %}
    <div class="mt-4">{{ post.content|linebreaks }}</div>
    <div class="mt-5 border-top pt-4">
        <a href="{% url 'home' %}" class="auth-links" style="background: #6c757d;">Back to Feed</a>
    </div>
</article>
{% endblock %}