{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Django Blog</title>
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}">
            <svg height="30" viewBox="0 0 512 512" width="30" class="mr-2">
                <g><path d="m512 45c0-24.853-20.147-45-45-45h-422c-24.853 0-45 20.147-45 45v90c0 8.284 6.716 15 15 15h482c8.284 0 15-6.716 15-15z" fill="#7d81e7"/><path d="m0 135v332c0 24.813 20.187 45 45 45h422c24.813 0 45-20.187 45-45v-332z" fill="#f9f9f9"/></g>
            </svg>
            Django Blog
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'home' %}">HOME</a>
            </div>
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a class="auth-links" href="{% url 'create_post' %}">Create Post</a>
                <a class="auth-links" href="{% url 'profile' %}">Profile</a>
                <a class="auth-links" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a class="auth-links" href="{% url 'login' %}">Login</a>
                <a class="auth-links" href="{% url 'register' %}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main class="container">
      <div class="row">
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
        {% if request.resolver_match.url_name == 'home' %}
        <div class="col-md-4">
          <div class="content-section">
            <h5 class="auth-links" style="display:inline-block; margin-left:0; pointer-events: none;">Latest Gists</h5>
            <div class="list-group list-group-flush mt-3">
                <a href="#" class="list-group-item list-group-item-action px-0 border-0">Stop Teaching Toddlers to Code <small class="text-muted">Wed</small></a>
                <a href="#" class="list-group-item list-group-item-action px-0 border-0">It's not a bug - It's a feature <small class="text-muted">Tue</small></a>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </main>

    <footer class="main-footer mt-5">
      <div class="container text-center py-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Admin</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
          </ul>
          <p class="text-muted">&copy; 2026 Desphixs Blog</p>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>