{% extends 'Base/base.html' %}
{% load static %}


{% block content %}
    <div class="content-section">
        <form action="" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Sign In</legend>
    
            </fieldset>
            {% for field in form %}
            <div class="form-group">
                {{field}}
                {% if field.errors %}
                   <div class="text-danger small">
                      {% for error in fields.error  %}
                         {{error}}<br>
                      {% endfor %}
                    </div>
                {% endif %}
            </div>
            {% endfor %}
            <button class="btn btn-outline-info" type="submit">Login In</button>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">Do you need an account? <a href="{% url 'register' %}">Register Now</a></small>
        </div>
    </div>
{% endblock content %}